__pycache__/
.pytest_cache/
.ruff_cache/
*.pyc
*.log
*.aux
*.out
*.fls
*.fdb_latexmk
*.h5ad
*.tar
*.tar.gz
*.zip
GenomeBiology*/
NCS*/
latex_submission_package/
*_submission_package/
*manuscript*
*cover_letter*
*supplementary_information*
